.method-GET {
    background-color: #5cb85c
}

.method-GET[href]:focus, .method-GET[href]:hover {
    background-color: #449d44
}

.method-POST {
    background-color: #5bc0de
}

.method-POST[href]:focus, .method-POST[href]:hover {
    background-color: #31b0d5
}

.method-PUT {
    background-color: #f0ad4e
}

.method-PUT[href]:focus, .method-PUT[href]:hover {
    background-color: #ec971f
}

.method-DELETE {
    background-color: #d9534f
}

.method-DELETE[href]:focus, .method-DELETE[href]:hover {
    background-color: #c9302c
}

textarea {
    resize: none;
    font-size: 12px !important;
    outline: none;
    font-family: monospace;
    font-weight: 600;
}