.label-GET {
    background-color: #5cb85c
}

.label-GET[href]:focus, .label-GET[href]:hover {
    background-color: #449d44
}

.label-POST {
    background-color: #5bc0de
}

.label-POST[href]:focus, .label-POST[href]:hover {
    background-color: #31b0d5
}

.label-PUT {
    background-color: #f0ad4e
}

.label-PUT[href]:focus, .label-PUT[href]:hover {
    background-color: #ec971f
}

.label-DELETE {
    background-color: #d9534f
}

.label-DELETE[href]:focus, .label-DELETE[href]:hover {
    background-color: #c9302c
}