<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>
            classpath*:/jestful/*.xml,
            classpath*:*-context.xml
        </param-value>
    </context-param>
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

    <filter>
        <filter-name>jestful</filter-name>
        <filter-class>org.qfox.jestful.server.JestfulFilterSupport</filter-class>
        <init-param>
            <param-name>view-prefix</param-name>
            <param-value>/WEB-INF/</param-value>
        </init-param>
        <init-param>
            <param-name>view-suffix</param-name>
            <param-value>.jsp</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>jestful</filter-name>
        <url-pattern>*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
    </filter-mapping>

    <filter>
        <filter-name>nutz</filter-name>
        <filter-class>org.nutz.mvc.NutFilter</filter-class>
        <init-param>
            <param-name>modules</param-name>
            <param-value>io.httpdoc.nutz.NutzModule</param-value>
        </init-param>
    </filter>

    <filter-mapping>
        <filter-name>nutz</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>

    <filter>
        <filter-name>httpdoc</filter-name>
        <filter-class>io.httpdoc.web.HttpdocFilterSupport</filter-class>
        <!--<init-param>-->
        <!--<param-name>interpreter</param-name>-->
        <!--<param-value>io.httpdoc.core.interpretation.SourceInterpreter</param-value>-->
        <!--</init-param>-->
        <init-param>
            <param-name>contentType</param-name>
            <param-value>text/plain</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>httpdoc</filter-name>
        <url-pattern>/httpdoc</url-pattern>
        <url-pattern>/httpdoc.json</url-pattern>
        <url-pattern>/httpdoc.yaml</url-pattern>
    </filter-mapping>

</web-app>